.theme-light {
  --color-primary: #ff0282;
}
.theme-dark {
  --color-primary: #0c101d;
}
.theme-dark-blue {
  --color-primary: #072146;
}
.theme-purple {
  --color-primary: #9a78b0;
}
@import "~font-awesome/css/font-awesome.min.css";
@import "./login";
@import "./layout";
@import "./content";
@import "./tenant";
@import "./typeform";
@import "./admin";
@import "./formPayment";
