.avatar-image {
  margin-bottom: 10px;
  div {
    div {
      margin: 0px auto;
      label {
        font-family: Poppins !important;
      }
    }
  }
}
.ant-dropdown {
  font-family: Poppins;
}

#layout-popover-list {
  .ant-popover-inner-content {
    padding: 5px 0px !important;
  }
}

.title-notification {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: rgb(78, 75, 102);
}

.title-notification-small {
  font-family: Poppins;
  font-style: normal;
  font-size: 14px;
  color: #a0a3bd;
  letter-spacing: 0.75px;
}

.title-body-description {
  display: flex;
  font-family: Poppins;
  .section-circle-description {
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    .icon-notification {
      width: 48px;
      height: 48px;
      border-radius: 24px;
      display: flex;
      justify-content: center;
    }
  }
  .section-info-notification {
    width: 80%;
    color: rgb(78, 75, 102);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    align-self: center;
  }
}

.ant-list-item {
  padding: 0px !important;
}

.title-body-description-1 {
  display: flex;
  font-family: Poppins;
  margin: 0px 5px;
  padding: 10px 0px;
  .section-circle-description {
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    .icon-notification {
      width: 48px;
      height: 48px;
      border-radius: 24px;
      display: flex;
      justify-content: center;
    }
  }
  .section-info-notification {
    width: 80%;
    color: rgb(78, 75, 102);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    align-self: center;
    .title-notification-child {
      font-style: normal;
      font-size: 12px;
      color: rgb(78, 75, 102);
      display: flex;
      justify-content: space-between;
      span:nth-child(1) {
        font-weight: 600;
      }
    }
  }
}

.image-avatar-little {
  position: absolute;
  right: 15px;
  bottom: 5px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  display: flex;
  justify-content: center;
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
  display: flex;
  justify-content: space-between;
  font-family: Poppins;
  font-weight: 400;
  color: #4e4b66;
  .header-title-button {
    display: flex;
    align-items: center;
    span {
      margin-right: 5px;
    }
    h2 {
      margin: 0px 0px 0px 5px;
    }
  }
  .header-info-user {
    display: flex;
    h2 {
      margin: 0px 20px;
    }
    .button-header {
      padding: 0px;
      border: none;
      background: transparent;
      cursor: pointer;
      margin: 0px 15px;
      .notification-header {
        background: var(--color-primary);
        width: 20px;
        height: 20px;
        border-radius: 10px;
        position: absolute;
        top: 10px;
        right: 0px;
        span {
          position: relative;
          bottom: 24px;
          color: #fff;
          font-size: 10px;
          font-weight: bold;
        }
      }
    }
  }
  .hi-user-name-type {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    strong {
      position: relative;
      bottom: 10px;
      font-size: 15px;
    }
    span {
      position: absolute;
      top: 12px;
    }
  }
}

.BorderSignature {
  border: 1px solid #4e4b66;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  width: fit-content;
}

.ant-layout {
  height: 100vh;
}

.ant-layout-sider-children {
  background: var(--color-primary);
}

.ant-layout-sider-trigger {
  background: var(--color-primary) !important;
}

.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, 0.65);
  background: var(--color-primary) !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: rgba(255, 255, 255, 0.3) !important;
}

.tex-menu-icon-ant {
  font-family: Poppins;
  font-weight: 400;
}

.ant-layout-content {
  overflow: scroll;
  overflow-x: hidden;
}

#nprogress .spinner-icon {
  border-top-color: var(--color-primary) !important;
  border-left-color: var(--color-primary) !important;
}

#nprogress .bar {
  background: var(--color-primary);
}

.drawer-menu_header {
  .ant-drawer-body {
    padding: 0px !important;
    background: var(--color-primary);
  }
}

table {
  td {
    .ant-table-content {
      padding: 10px 20px;
    }
  }
}
