@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;700;900&display=swap");
button {
  outline: none;
  cursor: pointer;
}

.ant-spin {
  color: var(--color-primary) !important;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
}

.h1-1-17{
  h1{
    font-size: 1.17em;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
  }
}

.login_head_logo {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  box-sizing: border-box;
}

.ant-select-selector {
  border-radius: 8px !important;
  .ant-select-selection-item {
    font-family: Poppins;
    font-weight: bold;
  }
}

.ant-input-affix-wrapper {
  border-radius: 8px !important;
  input::placeholder {
    font-weight: 100;
  }
  textarea::placeholder {
    font-weight: 100;
  }
  .ant-input {
    font-family: Poppins;
    font-weight: bold;
  }
}

.login_logo {
  width: 120px;
  height: auto;
  object-fit: contain;
}

.login_card_form {
  width: 90%;
  max-width: 420px;
  height: fit-content;
  margin-top: 3vh;
  padding: 20px 0px;
  background: #ffff;
  border-radius: 48px;
  box-shadow: 0px 6px 22px 12px rgba(205, 213, 219, 0.6);
  &.large {
    max-width: 450px;
  }
  .login_top_form {
    padding: 5px 25px;
    position: relative;
    .arrow-back-to {
      border: none;
      background: transparent;
      position: absolute;
      top: 3px;
      left: 0px;
    }
    h1 {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 40px;
      text-align: center;
      letter-spacing: 1px;
      color: var(--color-primary);
    }

    .ant-radio-inner {
      border-color: #4e4b66;
    }
    .ant-radio-inner::after {
      background-color: var(--color-primary);
    }

    .ant-radio-checked .ant-radio-inner {
      border-color: var(--color-primary);
    }
    .login-recover-pass {
      display: flex;
      justify-content: center;
      align-content: center;
      margin: 0px 0px 15px 0px;
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 10px;
      line-height: 28px;
      letter-spacing: 0.75px;
      color: var(--color-primary);
      p {
        margin-top: 0;
        margin-bottom: 0em;
      }
    }
    .login_inputs_form {
      margin-top: 15px;
      .ant-radio-wrapper {
        white-space: normal;
      }
      .login-ant-input {
        margin-top: 15px;
        position: relative;
        .login-label-placeholder {
          position: absolute;
          bottom: 35px;
          z-index: 2;
          background: #fff;
          left: 12px;
          padding: 0px 5px;
          font-family: Poppins;
          font-style: normal;
          font-size: 10px;
          color: #d6d8e7;
        }
        .ant-input-affix-wrapper {
          position: relative;
          display: inline-block;
          width: 100%;
          min-width: 0;
          padding: 4px 11px;
          color: rgba(0, 0, 0, 0.85);
          font-size: 14px;
          line-height: 1.5715;
          background-color: #fff;
          background-image: none;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          display: -ms-inline-flexbox;
          display: inline-flex;
          border: 1px solid #d6d8e7;
          box-sizing: border-box;
          border-radius: 8px;
          .ant-input {
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 30px;
            letter-spacing: 0.75px;
            z-index: 3;
          }
        }
        .ant-input-affix-wrapper:hover {
          .ant-input {
            z-index: 5;
          }
        }
      }
    }
    .button_init_primary {
      display: flex;
      justify-content: center;
      button {
        background: var(--color-primary);
        border-radius: 16px;
        border: none;
        width: 70%;
        padding: 5px 0px;
        span {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 34px;
          letter-spacing: 0.75px;
          color: #ffffff;
        }
      }
    }
    .button_init_primary_disabled {
      display: flex;
      justify-content: center;
      button {
        background: #df90b8;
        border-radius: 16px;
        border: none;
        width: 70%;
        padding: 5px 0px;
        cursor: none;
        span {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 34px;
          letter-spacing: 0.75px;
          color: #ffffff;
        }
      }
    }
  }

  .login_divider {
    display: flex;
    margin: 20px 0px;
    hr {
      width: 100%;
      flex: 1 1;
      background: #a0a3bd;
    }
    span {
      text-align: center;
      flex: 1 2 auto;
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 10px;
      line-height: 15px;
      color: #a0a3bd;
      letter-spacing: 0.75px;
    }
  }

  .login_bottom_form {
    padding: 5px 25px;
    .button_init_secondary {
      display: flex;
      justify-content: center;
      button {
        border: 1px solid var(--color-primary);
        background: #fff;
        border-radius: 16px;
        width: 70%;
        padding: 5px 0px;
        span {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 34px;
          letter-spacing: 0.75px;
          color: var(--color-primary);
        }
      }
    }
  }
}

.login_main {
  display: flex;
  justify-content: center;
  align-content: center;
  background: url("../img/cityscape.png") fixed no-repeat 50% 0;
  height: calc(100% - 70px);
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (max-width: 767px) and (orientation: landscape) {
    align-items: baseline;
    height: auto;
  }
}

.login_footer_version {
  position: absolute;
  bottom: 0;
  right: 0;
  h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    text-align: center;
    letter-spacing: 1px;
    color: gray;
    padding: 0 0.75em;
    box-sizing: border-box;
  }
}

.site-form-item-icon {
  color: #230b34;
}

// EStilos de recuperar contraseña

.recoverInstructions {
  font-size: 15px;
  line-height: 20px;
  color: gray;
  font-weight: 400;
  text-align: center;
  font-family: Poppins;
  margin-bottom: 5vw;
}

.codeForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.codeFormItem {
  width: calc(100% / 11);
  height: 44px;
  margin: 0 10px 0 0;
  @media screen and (min-width: 768px) {
    width: 44px;
    height: 55px;
    margin: 0 16px 0 0;
  }
  .ant-input {
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    font-size: 12px;
    padding: 3px;
    text-align: center;
    color: #4e4b66;
    font-weight: 700;
    @media screen and (min-width: 768px) {
      font-size: 16px;
      padding: 9px;
    }
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.confirmPasswordHolder {
  .ant-input {
    padding: 9px 0 !important;
  }
}

.register_row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2em;
  .ant-select-selection-search-input,
  .ant-input {
    padding: 9px;
    box-sizing: border-box;
  }
  &.half {
    .ant-select,
    .ant-input-affix-wrapper {
      width: calc(50% - 10.5px);
    }
  }
}

.register_holder {
  width: 90%;
  max-width: 420px;
  margin: 0 auto;
}

.fieldset_title {
  color: #da006e;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 700;
  margin-bottom: 1em;
  display: block;
}

.error_login_incorrect_data {
  display: flex;
  justify-content: center;
  div {
    background: #fff4ec;
    color: #cf6e23;
    padding: 0px 15px;
    border-radius: 5px;
    img {
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }
}

.error_login_incorrect_data_field {
  background: #feefef;
  color: #da1414;
  padding: 0px 15px;
  border-radius: 5px;
  font-size: 10px;
  img {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.2s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.1s linear;
}

.loader-auth-spiner {
  animation: spin 1s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #da1414;
  border-top-color: #da1414;
  box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 20vmin;
  z-index: 1;
  &:before {
    animation: spin 2s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: #dd6969;
    border-top-color: #dd6969;
    box-sizing: border-box;
    content: "";
    height: 16vmin;
    left: 0;
    position: absolute;
    top: 0;
    width: 16vmin;
  }
  &:after {
    animation: spin 3s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: #dfb7b7;
    border-top-color: #dfb7b7;
    box-sizing: border-box;
    content: "";
    height: 12vmin;
    left: 2vmin;
    position: absolute;
    top: 2vmin;
    width: 12vmin;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 520px) {
  .register_row {
    flex-direction: column;
    align-items: flex-start;
    .ant-select {
      width: 100% !important;
      margin-bottom: 10px;
    }
    .ant-input-affix-wrapper {
      width: 100% !important;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 390px) {
}
