.top-info-tenant {
  display: flex;
  justify-content: space-between;
  .card-info-tenant {
    width: 49%;
    display: flex;
    background: #ffffff;
    box-shadow: 0px 1px 8px 6px #ebebf1;
    border-radius: 16px;
    padding: 10px 40px 10px 10px;
    .avatar-user {
      margin: 0px 25px 0px 15px;
      align-self: center;
    }
    .info-tenant {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .info-user {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        strong {
          font-size: 15px;
          font-family: Poppins;
          font-weight: bold;
          letter-spacing: 1px;
          font-style: normal;
        }
      }
      .data-contact {
        font-family: Poppins;
        font-size: 12px;
        color: #4e4b66;
      }
      .status-tenant {
        display: flex;
        align-items: flex-end;
        position: absolute;
        top: 15px;
        right: 25px;
        .status-payment {
          background: rgba(218, 20, 20, 0.3);
          padding: 4px 10px;
          border-radius: 15px;
          span {
            color: #da1414;
          }
        }
      }
    }
  }
  .card-data-tenant {
    font-family: Poppins;
    width: 49%;
    display: flex;
    background: #ffffff;
    box-shadow: 0px 1px 8px 6px #ebebf1;
    border-radius: 16px;
    padding: 15px 10px 10px 25px;
    .info-property-tenant {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      flex: 1 1 auto;
      div {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
      }
    }
    .status-tenant {
      display: flex;
      align-items: flex-end;
      .status-payment {
        background: rgba(218, 20, 20, 0.3);
        padding: 4px 10px;
        border-radius: 15px;
        span {
          color: #da1414;
        }
      }
    }
  }
}

.actions-information-tenant {
  margin-top: 20px;
  .tabs-tenant-information {
    .ant-tabs-nav-list {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
    .ant-tabs-nav {
      margin: 0px !important;
    }
    .ant-tabs-ink-bar {
      background: #ff0282;
      height: 5px !important;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #ff0282;
      font-family: Poppins;
      font-weight: 600;
      //letter-spacing: 1px;
    }
    .ant-tabs-tab:hover {
      color: #ff0282;
    }
    .ant-tabs-tab {
      font-family: Poppins;
      font-weight: 600;
    }
  }
  .main-content-tabs {
    background: #ffffff;
    padding: 20px;
  }
  .content-documents {
    display: flex;
    justify-content: space-between;
    .content-history {
      width: 60%;
      .select-file {
        display: flex;
        margin-bottom: 20px;
        .ant-select {
          width: 50%;
        }
      }
      .content-files {
        font-family: Poppins;
        max-height: 260px;
        border-radius: 0px 0px 16px 16px;
        box-shadow: 0px 1px 8px 6px #ebebf1;
        overflow-y: scroll;
        .card-file-information {
          display: flex;
          border-bottom: 1px solid #d6d8e7;
          .box-preview {
            padding: 15px;
            div {
              background: #c4c4c4;
              width: 162px;
              height: 102px;
            }
          }
          .box-information {
            flex: 1 1 auto;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .data-image {
              margin-bottom: 10px;
              display: flex;
              div {
                display: flex;
                flex-direction: column;
                margin-right: 15px;
              }
            }
          }
        }
      }
    }
    .content-upload {
      width: 38%;
      display: flex;
      flex-direction: column;
      .button_init_primary {
        display: flex;
        justify-content: center;
        width: 30%;
        min-width: 340px;
        max-width: 145px;
        align-self: center;
        margin-bottom: 15px;
        label {
          background: #ff0282;
          border-radius: 16px;
          border: none;
          width: 100%;
          cursor: pointer;
          text-align: center;
          span {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 34px;
            letter-spacing: 0.75px;
            color: #ffffff;
          }
        }
      }
      .section-container-action-up {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 1px 8px 6px #ebebf1;
        padding: 15px 0px;
        border-radius: 16px;
        .container-carousel {
          width: 208px;
          height: 202px;
          border-radius: 16px;
          margin-bottom: 15px;
          background: #c4c4c4;
          .main-carousel {
            width: 100%;
            height: 100%;
            img {
              border-radius: 16px;
              filter: opacity(0.5);
              transition: all 0.5s ease-in-out;
            }
            img:hover {
              filter: opacity(0.2);
            }
          }
        }
      }
    }
  }
}

#file-input,
#file-input-2 {
  display: none;
}

.section-upload-files {
  display: flex;
  justify-content: space-between;
  padding: 2% 10%;
  .section-upload-file {
    width: 180px;
    height: 200px;
    background: #c4c4c4;
  }
}

.content-messages-sections {
  display: flex;
  justify-content: space-between;
  font-family: Poppins;
  margin-top: 15px;
  .ant-timeline-item-tail {
    margin-top: 60px;
    background: #ff0282;
  }
  .ant-timeline-item-head {
    margin-top: 60px;
    background: #ff0282;
    border: 1px solid #ff0282;
  }
  .section-history-messages {
    width: 45%;
    max-height: 500px;
    overflow-y: scroll;
    .item-messages {
      box-shadow: 0px 1px 8px 6px #ebebf1;
      border-radius: 16px;
      padding: 15px;
      min-width: 280px;
      width: 95%;
      .item-message-1 {
        display: flex;
        .elipse-icon {
          display: flex;
          justify-content: center;
          border-radius: 20px;
          width: 30px;
          height: 30px;
          position: relative;
          bottom: 5px;
        }
        .message-name-send {
          display: flex;
          flex-direction: column;
          position: relative;
          bottom: 10px;
          margin-left: 15px;
          span {
            position: relative;
            bottom: 5px;
          }
        }
      }
      .item-message-2 {
      }
    }
  }
  .section-type-messages {
    width: 45%;
    box-shadow: 0px 1px 8px 6px #ebebf1;
    border-radius: 16px;
    height: 320px;
    .text-header {
      background: #ff0282;
      text-align: center;
      border-radius: 15px 15px 0px 0px;
      font-weight: normal;
      color: #ffffff;
      font-size: 16px;
      padding: 5px 0px;
    }
    textarea {
      height: 290px !important;
      width: 100%;
      outline: none;
      border: 1px solid #d6d8e7;
      padding: 10px;
      border-radius: 0px 0px 15px 15px;
    }
    .button_init_primary {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      width: 100%;
      min-width: 240px;
      button {
        background: #ff0282;
        border-radius: 16px;
        border: none;
        width: 100%;
        span {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 34px;
          letter-spacing: 0.75px;
          color: #ffffff;
        }
      }
    }
  }
}

.button-action-payment {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  button {
    background: #ff0282;
    border-radius: 16px;
    border: none;
    width: 30%;
    cursor: pointer;
    text-align: center;
    span {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 34px;
      letter-spacing: 0.75px;
      color: #ffffff;
    }
  }
}

.empty-tenants {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  img {
    margin-bottom: 15px;
  }
  span {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 34px;
    letter-spacing: 0.75px;
    color: #4e4b66;
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff0282;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c70164;
}
