.banner-move-tenant {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins;
  padding: 10px 25px;
  h1 {
    font-weight: bold;
    color: var(--color-primary);
  }
  span {
    font-size: 12px;
    font-weight: 500;
  }
  .times-close-banner {
    position: absolute;
    right: 5px;
    button {
      background: transparent;
      border: none;
    }
  }
}

.banner-payment-rent {
  font-family: Poppins;
  padding: 5px 20px;
  position: relative;
  .title-banner {
    text-align: center;
    h1 {
      color: var(--color-primary);
    }
  }
  .amount-to-pay {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 25px;
    span {
      color: #a0a3bd;
    }
    strong {
      font-size: 28px;
      color: rgb(28, 227, 255);
    }
  }
  .date-payment {
  }
  .section-method-payment {
    border-top: 1px solid #d6d8e7;
    border-bottom: 1px solid #d6d8e7;
    display: flex;
    cursor: pointer;
    .card-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
    .card-info-method {
      display: flex;
      flex-direction: column;
      padding: 15px 20px 15px 0px;
      span {
        color: #a0a3bd;
      }
    }
  }

  .section-method-payment-v2 {
    border-top: 1px solid #d6d8e7;
    display: flex;
    justify-content: space-between;
    .card-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
    .card-info-method {
      display: flex;
      flex-direction: column;
      padding: 15px 20px 5px 0px;
      span {
        color: #a0a3bd;
      }
    }
  }
}

.content-card-incidence-dialog {
  min-height: 600px;
  min-width: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .top-background-dialog {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 191px;
    height: 50%;
    width: 100%;
    background: rgba(124, 88, 106, 0.1);
    z-index: 0;
    img {
      position: absolute;
      top: -100px;
    }
  }
  .content-cards-dialog {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    .card-information {
      position: relative;
      font-family: Poppins;
      padding: 10px;
      top: 100px;
      min-width: 260px;
      width: 90%;
      min-height: 191px;
      background: white;
      border-radius: 15px;
      box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.3);
      margin-bottom: 15px;
      .tag-card {
        width: 23px;
        height: 36px;
        background: var(--color-primary);
        position: absolute;
        top: -15px;
        margin: 0px auto;
        right: 3px;
      }
      .section-message {
        display: flex;
        margin-top: 15px;
        .text-comment-dialog {
          width: 100%;
          border-radius: 10px 0px 0px 10px;
          border: 1px solid var(--color-primary);
          outline: none;
        }
        button {
          border-radius: 0px 10px 10px 0px;
          outline: none;
          border: none;
          background: var(--color-primary);
          color: #fff;
          margin: 0px auto;
        }
      }

      label {
        font-weight: 800;
      }
      h3 {
        color: var(--color-primary);
        font-weight: bolder;
      }
      strong[title="folio"] {
        right: 10px;
        bottom: 10px;
        position: absolute;
      }
      span[title="date"] {
        left: 10px;
        bottom: 10px;
        position: absolute;
        color: #4e4b66;
      }
    }
  }

  .bottom-background-information {
    height: 50%;
    width: 100%;
    min-height: 300px;
    z-index: 0;
    .sticker-status {
      font-family: Poppins;
      margin-top: 8px;
      position: absolute;
      top: 0px;
      background: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(1px);
      border-radius: 0px 5px 5px 0px;
    }
  }
}

.incidence-history-list {
  cursor: pointer;
  .ant-list-item {
    padding: 20px 0px !important;
  }
}
.incidence-history-list:hover {
  background: rgba(223, 144, 184, 0.1);
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 15px 0px;
  flex-direction: column !important;
  span {
    font-family: Poppins;
    font-size: 18px;
    color: #4e4b66;
  }
}

.top-info-tenant {
  display: flex;
  justify-content: space-between;
  .card-info-tenant {
    width: 49%;
    display: flex;
    background: #ffffff;
    box-shadow: 0px 1px 8px 6px #ebebf1;
    border-radius: 16px;
    padding: 10px 40px 10px 10px;
    .avatar-user {
      margin: 0px 25px 0px 15px;
      align-self: center;
    }
    .info-tenant {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .info-user {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        strong {
          font-size: 15px;
          font-family: Poppins;
          font-weight: bold;
          letter-spacing: 1px;
          font-style: normal;
        }
      }
      .data-contact {
        font-family: Poppins;
        font-size: 12px;
        color: #4e4b66;
      }
      .status-tenant {
        display: flex;
        align-items: flex-end;
        position: absolute;
        top: 15px;
        right: 25px;
        .status-payment {
          background: rgba(218, 20, 20, 0.3);
          padding: 4px 10px;
          border-radius: 15px;
          span {
          }
        }
      }
    }
  }
  .card-data-tenant {
    font-family: Poppins;
    width: 49%;
    display: flex;
    background: #ffffff;
    box-shadow: 0px 1px 8px 6px #ebebf1;
    border-radius: 16px;
    padding: 15px 10px 10px 25px;
    .info-property-tenant {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      flex: 1 1 auto;
      div {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
      }
    }
    .status-tenant {
      display: flex;
      align-items: flex-end;
      .status-payment {
        background: rgba(218, 20, 20, 0.3);
        padding: 4px 10px;
        border-radius: 15px;
        span {
        }
      }
    }
  }
}

.actions-information-tenant {
  margin-top: 20px;
  .tabs-tenant-information {
    .header-tenant-message {
      display: flex;
      margin-bottom: 10px;
      button {
        border: none;
      }
    }
    .ant-tabs-nav-list {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
    .ant-tabs-nav {
      margin: 0px !important;
    }
    .ant-tabs-ink-bar {
      background: var(--color-primary);
      height: 5px !important;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: var(--color-primary);
      font-family: Poppins;
      font-weight: 600;
      //letter-spacing: 1px;
    }
    .ant-tabs-tab:hover {
      color: var(--color-primary);
    }
    .ant-tabs-tab {
      font-family: Poppins;
      font-weight: 600;
    }
  }
  .main-content-tabs {
    background: #ffffff;
    padding: 20px;
  }
  .content-documents {
    display: flex;
    justify-content: space-between;
    .content-history {
      width: 100%;
      .select-file {
        .ant-picker {
          width: 100%;
        }
        .ant-select {
          width: 100%;
        }
      }
      .content-files {
        font-family: Poppins;
        max-height: 260px;
        border-radius: 0px 0px 16px 16px;
        box-shadow: 0px 1px 8px 6px #ebebf1;
        overflow-y: scroll;
        .card-file-information {
          display: flex;
          border-bottom: 1px solid #d6d8e7;
          .box-preview {
            padding: 15px;
          }
          .box-information {
            flex: 1 1 auto;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .data-image {
              margin-bottom: 10px;
              display: flex;
              div {
                display: flex;
                flex-direction: column;
                margin-right: 15px;
              }
            }
          }
        }
      }
    }
    .content-upload {
      width: 38%;
      display: flex;
      flex-direction: column;
      .button_init_primary {
        display: flex;
        justify-content: center;
        width: 30%;
        min-width: 340px;
        max-width: 145px;
        align-self: center;
        margin-bottom: 15px;
        label {
          background: var(--color-primary);
          border-radius: 16px;
          border: none;
          width: 100%;
          cursor: pointer;
          text-align: center;
          span {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 34px;
            letter-spacing: 0.75px;
            color: #ffffff;
          }
        }
      }
      .section-container-action-up {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 1px 8px 6px #ebebf1;
        padding: 15px 0px;
        border-radius: 16px;
        .container-carousel {
          width: 208px;
          height: 202px;
          border-radius: 16px;
          margin-bottom: 15px;
          background: #c4c4c4;
          .main-carousel {
            width: 100%;
            height: 100%;
            img {
              border-radius: 16px;
              filter: opacity(0.5);
              transition: all 0.5s ease-in-out;
            }
            img:hover {
              filter: opacity(0.2);
            }
          }
        }
      }
    }
  }
}

#file-input,
#file-input-2 {
  display: none;
}

.section-upload-files {
  display: flex;
  justify-content: space-between;
  padding: 2% 10%;
  .section-upload-file {
    width: 180px;
    height: 200px;
    background: #c4c4c4;
    position: relative;
  }
}

.section-type-messages {
  box-shadow: 0px 1px 8px 6px #ebebf1;
  border-radius: 16px;
  .text-header {
    background: var(--color-primary);
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    font-weight: normal;
    color: #ffffff;
    font-size: 16px;
    padding: 5px 0px;
  }
}

.content-messages-sections {
  display: flex;
  justify-content: space-between;
  font-family: Poppins;
  margin-top: 15px;
  .ant-timeline-item-tail {
    margin-top: 60px;
    background: var(--color-primary);
  }
  .ant-timeline-item-head {
    margin-top: 60px;
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
  }
  .section-history-messages {
    width: 45%;
    max-height: 500px;
    overflow-y: scroll;
    .item-messages {
      box-shadow: 0px 1px 8px 6px #ebebf1;
      border-radius: 16px;
      padding: 15px;
      min-width: 280px;
      width: 95%;
      .item-message-1 {
        display: flex;
        .elipse-icon {
          display: flex;
          justify-content: center;
          border-radius: 20px;
          width: 30px;
          height: 30px;
          position: relative;
          bottom: 5px;
        }
        .message-name-send {
          display: flex;
          flex-direction: column;
          position: relative;
          bottom: 10px;
          margin-left: 15px;
          span {
            position: relative;
            bottom: 5px;
          }
        }
      }
      .item-message-2 {
      }
      .response-message-item {
        display: flex;
        border-top: 1px solid #d6d8e7;
        margin-top: 10px;
        textarea {
          outline: none;
          border: none;
          width: 100%;
        }
      }
    }
  }
  .section-history-messages-dialog {
    width: 100%;
    max-height: 385px;
    .item-messages {
      box-shadow: 0px 1px 8px 6px #ebebf1;
      border-radius: 16px;
      padding: 15px;
      width: 100%;
      .item-message-1 {
        display: flex;
        .elipse-icon {
          display: flex;
          justify-content: center;
          border-radius: 20px;
          width: 30px;
          height: 30px;
          position: relative;
          bottom: 5px;
        }
        .message-name-send {
          display: flex;
          flex-direction: column;
          position: relative;
          bottom: 10px;
          margin-left: 15px;
          span {
            position: relative;
            bottom: 5px;
          }
        }
      }
      .item-message-2 {
      }
      .response-message-item {
        display: flex;
        border-top: 1px solid #d6d8e7;
        margin-top: 10px;
        textarea {
          outline: none;
          border: none;
          width: 100%;
        }
      }
    }
  }
  .section-type-messages-fixed {
    width: 45%;
    .section-type-messages {
      textarea {
        height: 290px !important;
        width: 100%;
        outline: none;
        border: 1px solid #d6d8e7;
        padding: 10px;
        border-radius: 0px 0px 15px 15px;
      }
    }
    .button_init_primary {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      width: 100%;
      min-width: 240px;
      button {
        background: var(--color-primary);
        border-radius: 16px;
        border: none;
        width: 100%;
        span {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 34px;
          letter-spacing: 0.75px;
          color: #ffffff;
        }
      }
    }
  }
}

.button-action-payment {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  button {
    background: var(--color-primary);
    border-radius: 16px;
    border: none;
    width: 30%;
    cursor: pointer;
    text-align: center;
    span {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 34px;
      letter-spacing: 0.75px;
      color: #ffffff;
    }
  }
}

.empty-tenants {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  img {
    margin-bottom: 15px;
  }
  span {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 34px;
    letter-spacing: 0.75px;
    color: #4e4b66;
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c70164;
}

.ant-upload-list-picture-card-container {
  display: inline-block;
  width: 100% !important;
  height: 200px !important;
  margin: 0 8px 8px 0;
  vertical-align: top;
}

.ant-upload.ant-upload-select-picture-card {
  width: 100% !important;
  height: 200px !important;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
  vertical-align: top;
  background-color: #fafafa;
  border: 1px dashed #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.disabled-button {
  background: #df90b8 !important;
  cursor: none;
}

.text-area-contract {
  width: 100%;
  height: 160px;
  border: none;
  outline: none;
  padding: 5px;
}

.confirm-upload-document {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1080px) {
  .top-info-tenant {
    flex-direction: column;
    .card-info-tenant {
      width: 100%;
      margin-bottom: 15px;
    }
    .card-data-tenant {
      width: 100%;
    }
  }
}
@media screen and (max-width: 970px) {
  .content-messages-sections {
    flex-direction: column;
    .section-history-messages {
      width: 100%;
    }
    .section-type-messages {
      width: 100% !important;
    }
    .section-type-messages-fixed {
      width: 100%;
      margin-top: 15px;
    }
  }
}
@media screen and (max-width: 715px) {
}
@media screen and (max-width: 520px) {
  .main-content-tabs {
    padding: 10px 5px !important;
  }
  .actions-information-tenant {
    .tabs-tenant-information {
      .ant-tabs-nav-list {
        width: auto;
      }
    }
  }
  .top-info-tenant {
    .card-info-tenant {
      padding: 10px 5px 10px 5px;
      .info-tenant {
        .status-tenant {
          position: relative;
          top: 0px;
          right: 0px;
        }
      }
    }
    .card-data-tenant {
      flex-direction: column;
      padding: 10px 5px 10px 5px;
      .info-property-tenant {
        div {
          flex: 1 1 0px;
        }
      }
    }
  }
  .section-upload-files {
    flex-direction: column;
    .section-upload-file {
      width: 100%;
    }
  }
  .button-action-payment {
    button {
      width: 100%;
    }
  }
  .ant-timeline-item {
    .ant-timeline-item-tail {
      display: none;
    }
    .ant-timeline-item-head {
      display: none;
    }
    .ant-timeline-item-content {
      margin: 0 0 0 0px !important;
    }
  }
}
@media screen and (max-width: 390px) {
  .banner-move-tenant {
    h1 {
      font-size: 12px;
    }
  }
}
.ant-picker {
  border-radius: 8px !important;
  .ant-picker-input {
    input {
      border-radius: 8px;
      font-family: Poppins;
      font-weight: bold;
    }
  }
}
